.menu{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 400px;
}

.messaging-space {
    height: 95vh;
    background-color: rgb(184, 182, 182);
}

.starting-message {
    color: black;
}

.messages{
    height: 85vh;
}

.message-container{
    display: flex;
    flex-direction: column;
}

.message-user{
    display:flex;
    flex-direction: row-reverse;
    margin-left: 10%;
}

.message-server{
    display:flex;
    flex-direction: row;
    margin-right: 10%;
}


.message-time{
    font-size: small;
    font-style: italic;
    font-weight: lighter;
    align-self: self-end;
}

.message-text{
    font-size: large;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
   
}