{{define "starting-message"}}
<span class="initial-message">Bienvenido al asistente de configuración de SISnet potenciado por IA</span>
{{ end}}

{{define "messages"}}
<div class="messages" id="messages">
    <div class="messages-container">
        {{ range .Messages }}
            {{if .IsFromUser}}
            <div class="message-user">

                <span class="message-text">{{ .Text }}
                    <br><span class="message-time">{{ .Time }}</span>
                </span>
            </div>
            {{else}}
                {{if .IsLast}}
                    {{if $.FullResponses}}
                    <div class="message-server">
                        <span class="message-text">{{ .Text }}
                            <br><span class="message-time">{{ .Time }}</span>
                        </span>
                    </div>
                    {{else}}
                    <div hx-trigger="done" hx-get="/?user={{$.User}}" hx-swap="outerHTML" hx-target="this">
                        <h3 role="status" id="pblabel" tabindex="-1" autofocus>Pensando</h3>

                        <div hx-get="/?user={{$.User}}" hx-trigger="every 600ms" hx-target="body">
                        </div>
                    </div>
                    {{end}}
                {{else}}
                    <div class="message-server">
                        <span class="message-text">{{ .Text }}
                            <br><span class="message-time">{{ .Time }}</span>
                        </span>
                    </div>
                {{end}}

            {{ end }}

        {{ end }}
        </div>
            
    </div>
{{end}}

{{define "input"}}
<form class="input" hx-post="/messages" hx-target="body" hx-swap="outerHTML">
    <input type="hidden" name="user" value="{{ .User}}">
    <input type="text" name="messagetext" placeholder="Escribe un mensaje">
    <button type="submit">Enviar</button>
</form>
{{ end }}


{{define "conversacion"}}
<div class="messaging-space">
    {{ template "starting-message" .}}
    {{ template "messages" . }}
    {{ template "input" . }}
</div>
{{ end }}